@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar+One&display=swap');

.avoidBreak {
    page-break-inside: avoid;
}

h1 {
    font-family: 'Sigmar One', cursive;
    margin: 2px;
}

h2 {
    font-family: 'Sigmar One', cursive;
    size: smaller;
    margin: 2px;
}

.box {
    border: 2px solid black;
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-top: 25px;
}

.fourColumnHeaderWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    background-color: darkslategrey;
    color: ivory;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

.twoColumnContentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    /* grid-auto-rows: 1fr; */
    gap: 10px;
}

.fourColumnContentWrapper {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    padding: 20px;
    /* grid-auto-rows: 1fr; */
    gap: 10px;
}

.fullWidth {
    justify-self: center;
    grid-column: 1 / -1;
}

.pack {
    order: 1;
    margin-left: auto;
}

.item {
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


@media print {
    .noPrint {
        display: none;
    }

    h1 {
        font-size: small;
    }

    .fourColumnContentWrapper {
        font-size: 8pt;
    }

    .twoColumnContentWrapper {
        font-size: 8pt;
    }

    .fourColumnContentWrapper {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        padding: 5px;
        /* grid-auto-rows: 1fr; */
        row-gap: 10px;
        column-gap: 5px;
    }

}